body {
    background: url('astronaut.jpg') no-repeat;
    background-size: none;
    margin-left: 10%;
    margin-top: 8%;
   }
div{
    font:15px Verdana;
    width:450px;
}
ul {
    padding:0;
    margin:2px 5px; 
    list-style:none; 
    border:0; 
    float:left; 
    width:100%;
}
li {
    width:50%; 
    float:left; 
    display:inline-block; 
}
table, input {
    text-align:left;
    font:13px Verdana;
}
table, td, th 
{
    margin:10px 0;
    padding:2px 10px;
}
td, th {
    border:solid 1px #CCC;
}
button {
    font:13px Verdana;
    padding:3px 5px;
}
#input{
    position: relative;
}
.topright {
    position: absolute;
    top: 14%;
    right: 28%;
    font-size: 18px;